Agente_Leitor_de_CSV.json
{
  "name": "Agente Leitor de CSV",
  "nodes": [
    {
      "parameters": {
        "content": "A requisição é feita para recuperar o arquivo `.zip` contendo os dados de notas fiscais. Depois, o arquivo é descompactado em outros arquivos individuais."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        420,
        0
      ],
      "id": "9190916a-5020-4c06-afd9-f1e65137d825",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        180,
        1180
      ],
      "id": "b5651e9d-8d1b-4232-834c-550d688eeda2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "vvG8vxpI60EEOOHy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "outputPrefix": "decompressed_"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        600,
        220
      ],
      "id": "6e451c24-b296-4096-a91f-8d4181255118",
      "name": "Compression",
      "notesInFlow": true,
      "notes": "Descompactar arquivo"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        140,
        220
      ],
      "id": "051497e5-8fd3-4296-8e17-e1f6cf88007d",
      "name": "Quando clicar em ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://drive.usercontent.google.com/download?id=1jaNl2kL-a32HO_jXH3g3J1mGHzHWm9YD&export=download&authuser=0&confirm=t&uuid=4ec4c623-ecc2-4663-94a8-eacb5d6a9915&at=ALoNOgmUSYBQ1yXptjZkugTCUK9b:1748894028450",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        220
      ],
      "id": "3bca7e13-32fc-486a-8bf7-019689b8d931",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "binaryPropertyName": "decompressed_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        940,
        440
      ],
      "id": "d3a8fe44-e8b7-42a1-883f-a4bec35bd863",
      "name": "Extrair Notas",
      "notesInFlow": true,
      "notes": "Dados dos produtos"
    },
    {
      "parameters": {
        "binaryPropertyName": "decompressed_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        940,
        220
      ],
      "id": "16a31620-602f-40f7-9614-ebf35a8aa177",
      "name": "Extrair Cabeçalhos",
      "notesInFlow": true,
      "notes": "Cabeçalhos da compra"
    },
    {
      "parameters": {
        "content": "",
        "height": 180,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        200
      ],
      "id": "5e699f50-409a-4bc4-92fd-9e8d8b48eaae",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 620,
        "width": 2020,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        80,
        780
      ],
      "id": "224c76be-933c-498e-928e-da0a44998171",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61470578-1154-4e39-af82-db2418e99166",
              "name": "chave_acesso",
              "value": "={{ $json['CHAVE DE ACESSO'] }}",
              "type": "string"
            },
            {
              "id": "70616bf6-58b6-46b5-9615-5e57f6c7d404",
              "name": "modelo",
              "value": "={{ $json.MODELO }}",
              "type": "string"
            },
            {
              "id": "8d592322-558a-4d26-bcc1-e331aed64d83",
              "name": "serie",
              "value": "={{ $json['SÉRIE'] }}",
              "type": "string"
            },
            {
              "id": "ee4e9b24-ddb1-49ac-b8e4-a23417ec877b",
              "name": "numero",
              "value": "={{ $json['NÚMERO'] }}",
              "type": "string"
            },
            {
              "id": "15120aa4-7888-459b-b57a-e9b50b90fe87",
              "name": "natureza_operacao",
              "value": "={{ $json['NATUREZA DA OPERAÇÃO'] }}",
              "type": "string"
            },
            {
              "id": "be7defe3-46a2-49ba-8c19-2d60586ffda3",
              "name": "data_emissao",
              "value": "={{ $json['DATA EMISSÃO'] }}",
              "type": "string"
            },
            {
              "id": "52529bfd-ecf8-4aa7-8217-f53fba358045",
              "name": "evento_mais_recente",
              "value": "={{ $json['EVENTO MAIS RECENTE'] }}",
              "type": "string"
            },
            {
              "id": "f2a9ec79-4f76-4513-962b-db73633a17df",
              "name": "data_hora_evento_mais_recente",
              "value": "={{ $json['DATA/HORA EVENTO MAIS RECENTE'] }}",
              "type": "string"
            },
            {
              "id": "009644ff-a7f4-45eb-aa7b-47803ad8c36d",
              "name": "cnpj_cpf_emitente",
              "value": "={{ $json['CPF/CNPJ Emitente'] }}",
              "type": "string"
            },
            {
              "id": "744aca84-3a4c-4449-823f-9b2839e3733b",
              "name": "razao_social_emitente",
              "value": "={{ $json['RAZÃO SOCIAL EMITENTE'] }}",
              "type": "string"
            },
            {
              "id": "e92a67ac-cc1a-49f4-9992-955477c75957",
              "name": "inscricao_estadual_emitente",
              "value": "={{ $json['INSCRIÇÃO ESTADUAL EMITENTE'] }}",
              "type": "string"
            },
            {
              "id": "5cfc1c76-6ecd-4259-80c7-dece4fd9fbce",
              "name": "uf_emitente",
              "value": "={{ $json['UF EMITENTE'] }}",
              "type": "string"
            },
            {
              "id": "90c45788-e962-402c-9090-5d3aa3e2a205",
              "name": "municipio_emitente",
              "value": "={{ $json['MUNICÍPIO EMITENTE'] }}",
              "type": "string"
            },
            {
              "id": "ff57e165-aadb-4153-8114-64d7777eb8d8",
              "name": "cnpj_destinatario",
              "value": "={{ $json['CNPJ DESTINATÁRIO'] }}",
              "type": "string"
            },
            {
              "id": "ba2d48a4-52ae-46b9-8ed9-084504c6c379",
              "name": "nome_destinatario",
              "value": "={{ $json['NOME DESTINATÁRIO'] }}",
              "type": "string"
            },
            {
              "id": "0b04e350-261c-4df6-82a2-5d97ade37ea1",
              "name": "uf_destinatario",
              "value": "={{ $json['UF DESTINATÁRIO'] }}",
              "type": "string"
            },
            {
              "id": "cf78a3cc-5edc-41bc-ad0b-161a74f311b7",
              "name": "indicador_ie_destinatario",
              "value": "={{ $json['INDICADOR IE DESTINATÁRIO'] }}",
              "type": "string"
            },
            {
              "id": "30df4f41-7853-426f-96c7-1066c2ee8827",
              "name": "destino_operacao",
              "value": "={{ $json['DESTINO DA OPERAÇÃO'] }}",
              "type": "string"
            },
            {
              "id": "607d5f35-559f-4a66-ade0-bf5bd739a507",
              "name": "presenca_comprador",
              "value": "={{ $json['PRESENÇA DO COMPRADOR'] }}",
              "type": "string"
            },
            {
              "id": "870fb86f-6bc2-470f-89a3-cea8534ec758",
              "name": "consumidor_final",
              "value": "={{ $json['CONSUMIDOR FINAL'] }}",
              "type": "string"
            },
            {
              "id": "f2401b56-80dc-480e-a971-64f21d54bce4",
              "name": "valor_nota_fiscal",
              "value": "={{ $json['VALOR NOTA FISCAL'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        220
      ],
      "id": "6eaed761-eca3-4f20-9c91-cf67c40c1c77",
      "name": "Renomear colunas"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9c08fa8-675a-43bf-9b58-fe63dc4643b9",
              "name": "chave_acesso_nf",
              "value": "={{ $json['CHAVE DE ACESSO'] }}",
              "type": "string"
            },
            {
              "id": "4cf786b7-33a7-440b-ba3e-685ab75802a6",
              "name": "numero_produto",
              "value": "={{ $json['NÚMERO'] }}",
              "type": "string"
            },
            {
              "id": "01b56672-3b1b-45dc-8a9b-a52e96c59a43",
              "name": "descricao_produto_servico",
              "value": "={{ $json['DESCRIÇÃO DO PRODUTO/SERVIÇO'] }}",
              "type": "string"
            },
            {
              "id": "de8fe94c-1332-497b-bde2-297dac773ce2",
              "name": "codigo_ncm_sh",
              "value": "={{ $json['CÓDIGO NCM/SH'] }}",
              "type": "string"
            },
            {
              "id": "f00f3a02-355a-4dc3-b3df-d0eb1d2a7ccf",
              "name": "cfop",
              "value": "={{ $json.CFOP }}",
              "type": "string"
            },
            {
              "id": "04b5ff55-d900-41b0-8893-d3ad7192d0f1",
              "name": "quantidade",
              "value": "={{ $json.QUANTIDADE }}",
              "type": "string"
            },
            {
              "id": "09a7c807-2547-4bd0-a83c-bee44c323498",
              "name": "unidade",
              "value": "={{ $json.UNIDADE }}",
              "type": "string"
            },
            {
              "id": "da97de40-77cf-4471-bb28-0d4c4e34063a",
              "name": "valor_unitario",
              "value": "={{ $json['VALOR UNITÁRIO'] }}",
              "type": "string"
            },
            {
              "id": "c9571b92-8e61-40be-8d66-7523396bef66",
              "name": "valor_total",
              "value": "={{ $json['VALOR TOTAL'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1160,
        440
      ],
      "id": "0db1d2a7-d07a-48a7-ab4f-26a0780c2fa1",
      "name": "Renomear colunas1"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "itens_notas_fiscais",
          "mode": "list",
          "cachedResultName": "itens_notas_fiscais"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1420,
        440
      ],
      "id": "c2aedd58-f6b7-4742-aa90-3eea3a34f8f7",
      "name": "itens_notas_fiscais",
      "credentials": {
        "mySql": {
          "id": "wf38ZsaKN7XBoY63",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "notas_fiscais",
          "mode": "list",
          "cachedResultName": "notas_fiscais"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1420,
        220
      ],
      "id": "bb888df7-6d22-4e33-9125-d977b50ec392",
      "name": "notas_fiscais",
      "credentials": {
        "mySql": {
          "id": "wf38ZsaKN7XBoY63",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1720,
        340
      ],
      "id": "219737f5-405e-4272-b4aa-3bc358747127",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "Os dados são extraídos dos arquivos em ramificações e inseridos em um banco de dados pré-criado.\nA ramificação mais ao topo sempre é executada primeiro."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "id": "fc4227d9-20ac-43ec-bdfc-fffb6f0bca3b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 700,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        180
      ],
      "id": "71766270-4f33-40cd-94c0-2fb9fe7fb2f0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Agora, o agente consegue responder perguntas referentes aos arquivos importados no banco de dados."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        820
      ],
      "id": "507ee8c7-6d13-4a4a-9d84-37418ff6e41a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user_messages",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        820
      ],
      "id": "939ccb33-1bff-483e-bfac-ea80e6a9a1fc",
      "name": "Webhook",
      "webhookId": "586cdb59-dbd1-4713-9666-dca7be9f2ea4"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        2000,
        1040
      ],
      "id": "d38051e3-b633-4d9e-ac5d-77cc4ef97040",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1400,
        1240
      ],
      "id": "9c1fe561-bdda-4b05-80a2-f5b196b14552",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "vvG8vxpI60EEOOHy",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Você é um agente especializado em consultas SQL, focado em gerar SELECT statements para MySQL. Sua função é criar queries eficientes, baseadas estritamente nas perguntas do usuário e otimizadas para o banco de dados fornecido.\n\n* Validação de Pergunta: Se a pergunta do usuário não estiver diretamente relacionada ao esquema do banco de dados, responda com \"prompt inválido\".\n* Apenas Consultas de Busca: Você só pode gerar queries SELECT. Qualquer solicitação que implique em outras operações (INSERT, UPDATE, DELETE, etc.) resultará em \"prompt inválido\".\n* Limitação de Resultados: Para queries com alto potencial de retorno, aplique a cláusula LIMIT. Se o usuário especificar um limite maior, utilize-o.\n* Sintaxe da Resposta: A saída deve ser apenas a query SQL, sem caracteres adicionais ou formatação de markdown de código (por exemplo, SELECT modelo FROM notas_fiscais WHERE chave_acesso = 'chave de acesso';).\n* Dados disponíveis: Os dados persistidos no banco possuem data a partir de janeiro de 2024, considere essa informação na geração de querys.\n* Formatação: Formate valores monetários seguindo o padrão brasileiro: R$XXX.XXX,XX\n* Finalização: Analise o código gerado para corrigir possíveis erros.\n\nEsquema do Banco de Dados a ser Considerado:\nCREATE TABLE IF NOT EXISTS notas_fiscais(\nchave_acesso VARCHAR(44) PRIMARY KEY NOT NULL,\nmodelo VARCHAR(70) NOT NULL,\nserie VARCHAR(3) NOT NULL,\nnumero VARCHAR(9) NOT NULL,\nnatureza_operacao VARCHAR(60) NOT NULL,\ndata_emissao DATETIME NOT NULL,\nevento_mais_recente VARCHAR(255),\ndata_hora_evento_mais_recente DATETIME,\ncnpj_cpf_emitente VARCHAR(14) NOT NULL,\nrazao_social_emitente VARCHAR(255) NOT NULL,\ninscricao_estadual_emitente VARCHAR(14),\nuf_emitente CHAR(2) NOT NULL,\nmunicipio_emitente VARCHAR(100),\ncnpj_destinatario VARCHAR(14),\nnome_destinatario VARCHAR(255),\nuf_destinatario CHAR(2),\nindicador_ie_destinatario ENUM(\"NÃO CONTRIBUINTE\", \"CONTRIBUINTE ISENTO\", \"CONTRIBUINTE ICMS\"),\ndestino_operacao VARCHAR(100) NOT NULL,\nconsumidor_final VARCHAR(100) NOT NULL,\npresenca_comprador VARCHAR(100) NOT NULL,\nvalor_nota_fiscal DECIMAL(15, 2) NOT NULL\n);\n\nCREATE TABLE IF NOT EXISTS itens_notas_fiscais(\nid INT PRIMARY KEY AUTO_INCREMENT,\nchave_acesso_nf VARCHAR(44) NOT NULL,\nnumero_produto INT NOT NULL,\ndescricao_produto_servico VARCHAR(500) NOT NULL,\ncodigo_ncm_sh VARCHAR(8),\nncm_sh_tipo_produto VARCHAR(255),\ncfop VARCHAR(4) NOT NULL,\nquantidade DECIMAL(15, 4) NOT NULL,\nunidade VARCHAR(6) NOT NULL,\nvalor_unitario DECIMAL(15, 2) NOT NULL,\nvalor_total DECIMAL(15, 2) NOT NULL,\nFOREIGN KEY (chave_acesso_nf) REFERENCES notas_fiscais(chave_acesso)\nON DELETE CASCADE\n        ON UPDATE CASCADE\n);"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        180,
        1040
      ],
      "id": "bab2a9f7-e44e-4ea5-adf7-df2a08b59779",
      "name": "SQL Agent",
      "notesInFlow": true,
      "notes": "Conectar modelo LLM para realizar a tarefa "
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=pergunta do usuário: {{ $('Webhook').item.json.body.message }}\n\ndados recebidos: {{ $json.isEmpty()? \"Dados vazios\" : JSON.stringify($input.all()) }}",
        "options": {
          "systemMessage": "=Você é um assistente de suporte financeiro, especializado em interpretar e comunicar dados do banco de dados para os usuários. Seu objetivo é fornecer respostas claras e úteis, mantendo um tom neutro e objetivo.\n\n* Respostas Claras e Concisas: Seja direto ao ponto. Use emojis 📊 para tornar a apresentação mais amigável, mas sem comprometer a objetividade.\n* Tratamento de \"Prompt Inválido\": Se receber a mensagem \"prompt inválido\", informe ao usuário que a pergunta não pode ser respondida com os dados disponíveis no banco de dados.\n* Utilização de Dados Reais: Sempre baseie suas respostas nos dados reais recebidos do banco de dados. Evite inventar ou inferir informações.\n* Dados Vazios: Caso os dados retornados do banco de dados estejam vazios, informe ao usuário que não foram encontrados valores condizentes com a consulta, ao final faça uma sugestão para otimizar a pergunta do usuário.\n* Foco na Pergunta do Usuário: Certifique-se de responder exatamente ao que o usuário perguntou, desde que seja possível com os dados fornecidos.\n* Formatação de resposta: Use uma formatação tabulada para criar respostas que utilizem os dados do banco de dados.\n\ndata atual: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1400,
        1040
      ],
      "id": "9b1ab406-0074-474f-8b2e-efd2aae803bc",
      "name": "AI Agent",
      "notesInFlow": true,
      "notes": "Conectar modelo LLM para realizar a tarefa "
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        960,
        820
      ],
      "id": "bea29639-8a24-4dc5-8302-ce5400895da3",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "wf38ZsaKN7XBoY63",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "content": "Dois agentes são utilizados para aumentar a eficiência. Um agente para criar querys SQL e otimizar o uso de tokens, apenas utilizando o resultado da execução dessa query no agente que criará uma resposta explicando o resultado.",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        540
      ],
      "id": "2db42958-dacc-4ad8-966f-e64ddbe36fcc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Antes de começar o fluxo do chatbot, inicialize o banco de dados executando este flow primeiro."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fc29fb10-5949-488b-8ddf-decf89947649",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "45e8dd01-ecc9-4182-b031-1274cd4666cb",
              "leftValue": "={{ $json.output }}",
              "rightValue": "SELECT",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "6805c600-f86e-4742-9a5d-a527729d0d76",
              "leftValue": "={{ $json.output }}",
              "rightValue": "WITH",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        1040
      ],
      "id": "3d6bf9ed-e308-41e1-85a7-afc354b45d38",
      "name": "Se SQL"
    },
    {
      "parameters": {
        "jsCode": "let string = $input.first().json.output;\n$input.first().json.output = string.replace(/[\"]+/g, \"'\");\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        1040
      ],
      "id": "85defa29-eee6-40a3-bbbb-6f4b83d8ca26",
      "name": "Substituir caracteres incompatíveis"
    },
    {
      "parameters": {
        "jsCode": "let string = $input.first().json.output;\nstring = string.replace(/[`]*(sql)*/g, '');\n$input.first().json.output = string.replace('\\n', '');\n\nreturn $input.first()"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        1040
      ],
      "id": "33a5857f-8431-41b2-9259-a5a73a0212ef",
      "name": "Formatar para SQL"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "database_data",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1180,
        820
      ],
      "id": "d46b4873-5aed-4f1d-a9d9-026030ce9ec3",
      "name": "Criar lista de resultados",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        1040
      ],
      "id": "fb66e490-39f7-406c-84c0-4d018078420a",
      "name": "Relay de Informações",
      "notesInFlow": true,
      "notes": "Permite ao N8N receber a info do nó correto na ramificação"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SQL Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Extrair Cabeçalhos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extrair Notas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quando clicar em ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Notas": {
      "main": [
        [
          {
            "node": "Renomear colunas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Cabeçalhos": {
      "main": [
        [
          {
            "node": "Renomear colunas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renomear colunas": {
      "main": [
        [
          {
            "node": "notas_fiscais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Renomear colunas1": {
      "main": [
        [
          {
            "node": "itens_notas_fiscais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notas_fiscais": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "itens_notas_fiscais": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "SQL Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SQL Agent": {
      "main": [
        [
          {
            "node": "Formatar para SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Substituir caracteres incompatíveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Criar lista de resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se SQL": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Relay de Informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Substituir caracteres incompatíveis": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar para SQL": {
      "main": [
        [
          {
            "node": "Se SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar lista de resultados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Relay de Informações": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e982379f-62df-4036-a8e0-de82db1af2d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "231b4fcf052db07b90cec772d2e46c08568f8721ea038399e11d196703eb0290"
  },
  "id": "h8L3pmz9Dx4DwHOy",
  "tags": []
}